body {
  overflow-x: hidden !important;
}

code {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  font-size: 97%;
  font-weight: 600;
}

.e_nav_links {
  display: flex !important;
  justify-content: space-between !important;
}

.requisitos {
  background-color: rgb(247,247,247);
  width: 80vw;
  border: 2px solid darkgray;
  margin: 0% 10%;
}

.how {
  margin: 3% auto 4.2%;
  width: 66vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how > p {
  direction: rtl;
  width: 80%;
  font-size: 111%;
}

.how > h2 {
  margin-bottom: 20px;
}

h1,h2,h3{
  text-align: center;
  font-family: 'Baloo Tamma', cursive;
}
li{
  color: #2c3e50;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: 'Raleway', serif;
}
/*SG = style grid*/
.SG{
  margin: 0;
  padding: 0;
  text-align: center;
}
.SG .sgLi{
  min-width: 24%;
  margin: 2% .35%;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
}
.SG .sgLi:hover{
  box-shadow:0 5px 10px rgba(0,0,0,.15);}
.SG .box{
  width: 100%;
  height: 100vh;
  padding: 1% 2%;
  background: #fff;
  min-height: 200px;
  max-height: 220px;
  box-sizing: border-box;
}
/*Styles */
.df{list-style-type: disc;}